.app{
    height: 100%;
    width: 100%;
    background-color: bisque;
    display: grid;
    place-items: center;
}
h1{
    color: rgb(155, 213, 155);
}
.app--container{
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(155, 213, 155);
    border-radius: 5px;
    padding: 10px 0;

}
.app--todoContainer{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button1:hover {
    background-color: #f44336;
    color: white;
  }
.button1{
    background-color: white; 
    color: black;
    width: 90%;
    text-align: center;
    margin: 1px 4px;
    padding-right: 5px;
    cursor: pointer;
}