.todoItem {
    display: flex;
    align-items: center;
    width: 90%;
    background-color: white;
    margin: 2px 4px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;

}
.todoItem>p{
    flex: 20;
}






